---
- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true
  listen: Reload systemd

- name: Restart prometheus
  ansible.builtin.systemd:
    name: prometheus
    state: restarted
  listen: Restart prometheus

- name: Restart node_exporter
  ansible.builtin.systemd:
    name: node_exporter
    state: restarted
  listen: Restart node_exporter
